* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  padding: 0 px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(https://i.pinimg.com/originals/a9/23/49/a923496114694b8a623877eb065429d9.jpg);
  background-size: cover;
  
}

p{
    text-align: justify;
}
.container{
    position: absolute;
    top: 55%;
    left: 53%;
    transform: translate(-53%, -50%);
    width: 1250px;
    height: 500px;
   display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-shadow: 0 0 5px 6px black;
}

.container .slide .item{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translate(90%, -50%);
    border-radius: 20px;
   box-shadow: 0 0 5px 6px black;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 45%;
    left: 30px;
    width: 700px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}

.des img{
    width: 80px;
    height: 80px;
     box-shadow: 0 0 3px 3px black;
    border: 3px black solid;

    margin: 20px;
}
.content .name{
    font-size: 30px;
     margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
     box-shadow: 0 0 5px 6px black;
    background: black;
    margin-top: 0px;
    padding: 10px;
    opacity: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente */
    animation: animate 1s ease-in-out 1 forwards;
}
.content .name img{
     width: 100px; /* Ajusta el tamaño según tu necesidad */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    padding: 15px;

}
.content .des{
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0;
    border-radius: 10px;
     background:#143e66 ;
      box-shadow: 0 0 5px 6px black;
    padding: 15px;
    color: white;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
     box-shadow: 0 0 5px 6px black;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}
@media (max-width: 800px) {
 .container{
    position: absolute;
    top: 55%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 800px;
   display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-shadow: 0 0 5px 6px black;
}
.content .name{
    font-size: 40px;
     margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
     box-shadow: 0 0 5px 6px black;
    background: black;
    margin-top: 0px;
    padding: 10px;
    opacity: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente */
    animation: animate 1s ease-in-out 1 forwards;
}
.item .content{
    position: absolute;
    top: 45%;
    left: 30px;
    width: 900px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}
}
@media (max-width: 1200px) {

.container{
    position: absolute;
    top: 55%;
    left: 53%;
    transform: translate(-53%, -50%);
    width: 1850px;
    height: 800px;
   display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-shadow: 0 0 5px 6px black;
}
.content .name{
    font-size: 50px;
     margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
     box-shadow: 0 0 5px 6px black;
    background: black;
    margin-top: 0px;
    padding: 10px;
    opacity: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente */
    animation: animate 1s ease-in-out 1 forwards;
}
  .item .content{
    position: absolute;
    top: 45%;
    left: 30px;
    width: 1000px;
    text-align: left;
    font-size: 30px;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}
}
}
